# ======================================
# PROJECT
# ======================================

PROJECT_NAME="gitea"
PROJECT_DISPLAY_NAME="Gitea"

DOMAIN_NAME="gitea.your-domain.com"

# ======================================
# PORTS
# ======================================

GITEA_PORT="3000"
SSH_PORT="2224"

# ======================================
# PATHS
# ======================================

PROJECT_DIR="/your/project/dir/gitea"

DATA_DIR="${PROJECT_DIR}/data"
POSTGRES_DATA_DIR="${PROJECT_DIR}/postgres_data"
BACKUP_DIR="${PROJECT_DIR}/backups"

# ======================================
# POSTGRESQL
# ======================================

POSTGRES_USER="gitea"
POSTGRES_DB="gitea"
POSTGRES_PASSWORD="VERY_STRONG_PASSWORD"

# ======================================
# DOCKER
# ======================================

COMPOSE_CMD="docker compose"
COMPOSE_FILE="docker-compose.yml"

GITEA_IMAGE="docker.gitea.com/gitea:1.27.2"
POSTGRES_IMAGE="postgres:18"

# ======================================
# BACKUP
# ======================================

BACKUP_RETENTION_DAYS=30
BACKUP_POSTGRES=true
BACKUP_GITEA=true

# ======================================
# GITEA
# ======================================

GITEA_SERVER_ROOT_URL="https://${DOMAIN_NAME}/"
GITEA_SERVER_DOMAIN="${DOMAIN_NAME}"

GITEA_SECURITY_INSTALL_LOCK="true"

USER_UID="1000"
USER_GID="1000"